<h2>模块列表</h2>

<%= link_to '添加', new_admin_project_feature_path %>

<%= will_paginate @features %>
<table class="table table-bordered">
  <tr>
    <th>模块名称</th>
    <th>操作</th>
  </tr>
  <% @features.each do |feature| %>
    <tr>
      <td><%= feature.name %></td>
      <td>
        <%= link_to '修改', edit_admin_project_feature_path(feature.project,feature) %>
        <%= link_to '删除', admin_project_feature_path(feature.project,feature), method: :delete, confirm: '确定?' %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @features %>
