<%= simple_form_for(@issue) do |f| %>
  <%= f.association :project, collection: Project.all, selected: cookies[:project_id] %>
  <%= f.association :feature, collection: Project.find_by_id(cookies[:project_id]).features, selected: :collection[0] %>
  <%= f.input :number, input_html: {class: 'span3'} %>
  <%= f.input :title, input_html: {class: 'span3'} %>
  <%= f.association :developer, collection: User.where('roles_mask = ?', '4') %>
  <%= f.input :self_testing_status, collection: ['未开发','开发中','自测通过'] %>
  <%= f.input :self_summary, input_html: {class: 'span3', rows: 3}%>
  <%= f.association :tester, collection: User.where('roles_mask = ?', '8') %>
  <%= f.input :testing_status, collection: ["未测试","测试通过","测试失败"] %>
  <%= f.input :testing_summary, input_html: {class: 'span3', rows: 3} %>
  <%= f.submit '提交', class: 'btn' %>
  <!-- <%= f.button :submit, class: 'btn btn-success btn-large' %> -->
<% end %>

<script>
  var features_of_selected_project = <%=raw @result.to_json %>;

  $(document).ready(function() {
    $('#issue_project_id').change(function() {
      var selected_value = $(this).val();
      var features = features_of_selected_project[selected_value]
      var option_html = [];
      $.each(features, function(i, feature) {
        option_html.push("<option value='" + feature.id + "'>" + feature.name + "</option>")
      });
      $("#issue_feature_id").html(option_html.join(''));
    });
  });
</script>
