  <td><%= issue.feature.name %></td>
  <td><%= issue.number %></td>
  <td><%= issue.title%></td>
  <td><%= issue.developer.name %></td>
  <td><%= issue.self_testing_status %></td>
  <td><%= issue.self_summary %></td>
  <td><%= issue.tester.name %></td>
  <td><%= issue.testing_status %></td>
  <td><%= issue.testing_summary %></td>
