<h2><%= cookies[:project_name].to_s + "测试用例" %></h2>
<div class="row">
  <form class="form-inline">
    <%= search_form_for @search do |f| %>
      <%= f.label :self_testing_status_cont, "开发进度" %>
      <%= f.select :self_testing_status_cont,  ['未开发','开发中','自测通过'], include_blank: true %>

      <%= f.label :developer_name_cont, "开发负责人" %>
      <%= f.select :developer_name_cont, User.where('roles_mask = ?', '4'), include_blank: true %>

      <%= f.label :testing_status_cont, "测试情况" %>
      <%= f.select :testing_status_cont, ['未测试','测试通过','测试失败'], include_blank: true %>

      <%= f.submit "查询", class: 'btn' %>
    <% end %>
  </form>
  </div>
<div class = "row">
  <div class = "offset1">
      <p>
       下载:
       <%= link_to "CSV", issues_path(format: "csv") %> |
       <%= link_to "Excel", issues_path(format: "xls") %>
    </p>
  </div>
</div>

<table class="table table-bordered">
  <tr>
    <th><%= sort_link @search, :feature_name, "模块" %></th>
    <th>用例编号</th>
    <th>用例描述</th>
    <!-- <th><%= sort_link @search, :developer_name, "开发负责人" %></th> -->
    <th><%= sort_link @search, :user_name, "开发负责人" %></th> 
    <th><%= sort_link @search, :self_testing_status, "开发进度" %></th>
    <th>开发备注</th>
    <th>测试负责人</th>
    <th><%= sort_link @search, :testing_status, "测试情况" %></th>
    <th>测试备注</th>
    <th>操作</th>
  </tr>
<% @issues.each do |issue| %>
  <tr>
    <%= render issue %>
    <!--  <td><%= link_to '修改',edit_issue_path(issue) %></td> -->
    <td><%= link_to '修改',edit_issue_path(issue, project_id: cookies[:project_id]) %></td>
    <td><%= link_to '删除',issue, method: :delete, data: { confirm: '确定？' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @issues %>
<div class = "offset1">
  <%= link_to '添加测试用例',new_issue_path(project_id: cookies[:project_id]) %>
</div>


<div class = "row">
  <div class = "offset1">
    <h4>导入测试用例</h4>

    <%= form_tag import_issues_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "导入" %>
    <% end %>
  </div>
</div>
