<tr>
  <td><%= link_to result[:project_name], issues_path(project_id: result[:project_id], project_name: result[:project_name]), target: "_blank" %></td>
  <td><%= result[:issues_count_of_project] %></td>
  <td><%= result[:new_issues_count_of_project] %></td>
  <td><%= result[:new_issues_rate] %></td>
  <td><%= result[:in_development_issues_count_of_project] %></td>
  <td><%= result[:in_development_issues_rate] %></td>
  <td><%= result[:self_tested_issues_count_of_project] %></td>
  <td><%= result[:self_tested_issues_rate] %></td>
</tr>
