<h2>开发人员列表</h2>

<table class="table table-bordered">
  <tr>
    <th>姓名</th>
    <th>邮箱地址</th>
    <th>操作</th>
  </tr>
  <% @developers.each do |developer| %>
    <tr>
      <%= render developer %>
      <td>
        <%= link_to '修改', edit_admin_developer_path(developer) %>
        <%= link_to '删除', admin_developer_path(developer), method: :delete, confirm: '确认删除?' %>
    </tr>
  <% end %>
</table>

<div class="row">
  <!-- <%= link_to '添加', new_developer_registration_path %> -->
  <%= link_to '添加', new_admin_developer_path %>
</div>

