<tr>
  <td><%= develop_stats[:project_name] %></td>
  <td><%= develop_stats[:issues_count_of_project] %></td>
  <td><%= develop_stats[:new_issues_count_of_project] %></td>
  <td><%= develop_stats[:new_issues_rate] %></td>
  <td><%= develop_stats[:in_development_issues_count_of_project] %></td>
  <td><%= develop_stats[:in_development_issues_rate] %></td>
  <td><%= develop_stats[:self_tested_issues_count_of_project] %></td>
  <td><%= develop_stats[:self_tested_issues_rate] %></td>
</tr>

