<h1>统计</h1>

<h2>开发相关</h2>
<table class="table table-bordered">
  <tr>
    <th>项目名称</th>
    <th>总数</th>
    <th>未开发数量</th>
    <th>未开发数量百分比</th>
    <th>开发中数量</th>
    <th>开发中数量百分比</th>
    <th>自测通过数量</th>
    <th>自测通过率</th>
  </tr>
  <% @results.each do |result| %>
    <tr>
    <td><%= result[:project_name] %></td>
    <td><%= result[:issues_count_of_project] %></td>
    <td><%= result[:new_issues_count_of_project] %></td>
    <td></td>
    <td><%= result[:in_development_issues_count_of_project] %></td>
    <td></td>
    <td><%= result[:self_tested_issues_count_of_project] %></td>
    <td></td>
  </tr>
  <% end %>
</table>

<h2>测试相关</h2>
<table class="table table-bordered">
  <tr>
    <th>项目名称</th>
    <th>总数</th>
    <th>未测试数量</th>
    <th>未测试数量百分比</th>
    <th>测通过数量</th>
    <th>测通过率</th>
  </tr>
  <%= render 'test_form' %>
</table>
