<!DOCTYPE html>
<html>
<head>
  <title>项目看板</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to '项目看板', root_path, class: :brand %>
        <div class="nav-collapse collapse">
            <ul class="nav pull-right">
            <% if developer_signed_in? %>
              <li><%= link_to current_developer.name %></li>
              <li><%= link_to '退出', destroy_developer_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to '开发人员登录', new_developer_session_path %></li>
            <% end %>

            <% if tester_signed_in? %>
              <li><%= link_to current_tester.name %></li>
              <li><%= link_to '退出', destroy_tester_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to '测试人员登录', new_tester_session_path %></li>
            <% end %>

            <% if manager_signed_in? %>
              <li><%= link_to current_manager.name %></li>
              <li><%= link_to '管理后台', admin_root_path %></li>
              <li><%= link_to '退出', destroy_tester_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to '管理员登录', new_manager_session_path %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="wrap">
      <div class="container" id="page-main">
        <%= notice %>

        <% if flash[:success] %>
          <%= flash[:success] %>
        <% end %>
  
        <div class="sidebar">
          <ul>
            <li><%= link_to 'Dashboard', admin_root_path %></li>
            <li><%= link_to '项目管理', admin_projects_path %></li>
            <li><%= link_to '模块管理', "#" %></li>
            <li><%= link_to '开发人员管理', admin_developers_path %></li>
            <li><%= link_to '测试人员管理', "#" %></li>
          </ul>
        </div>
        <div class="main"> 
          <%= yield %>
        </div>
      </div>
    </div>
</body>
</html>
